$bgcolor: #6fe5de;
$buttoncolor: #fef444;



    
    .main {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // text-align: center;
    }

    .mainScreen {
      border-radius: 2em;
      height: 400px;
      background-color: white;
      overflow: hidden;
      .imgContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: scroll;
        border-radius: 1em;
      }
    }
    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    .dropbox {
      width: 40%;
      font-size: 80%;
}

