$bgcolor: #6fe5de;
$buttoncolor: #fef444;
//******************** scanlines effect variable start ********************//
$scan-width: 2px;
$scan-crt: true;
$scan-fps: 60;
$scan-color: rgba(#000, 0.3);
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: 0.75;
//******************** scanlines effect variable end ********************//

body {
  background-color: $bgcolor;
}
.Shopping {
  display: flex;
  position: absolute;
  left: 540px;
  .Screen {
    display: inline-flex;
    .main {
      padding-top: 10vh;
      // margin-left: 40vw;
      width: 440px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // text-align: center;
    }

    .mainScreen {
      border-radius: 1em;
      height: 400px;
      background-color: white;
      overflow: auto;
      .imgContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: scroll;
        border-radius: 1em;
      }
    }
    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    .dropbox {
      width: 40%;
      font-size: 80%;
    }
    .control {
      display: flex;
      flex-direction: row;
      gap: 30%;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 10%;
    }
    .gridButton {
      width: 80px;
      background-color: $buttoncolor;
      border-radius: 10%;
    }
    .sideControl {
      display: grid;
      margin-left: 1%;
    }
    .sideButton {
      background: url("../../../public/assets/images/arrow.png");
      background-size: contain;
      background-repeat: no-repeat;
      outline: unset;
      width: 40px;
      height: 40px;
      position: relative;
      top: 65%;
    }
    .down {
      top: 0%;
      transform: rotateX(180deg);
    }
  }
}
//******************** scanlines effect css start ********************//

@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  } @else {
    animation: none;
  }
}

@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line == true {
    animation: scanline 6s linear infinite;
  } @else {
    animation: none;
  }
}

.scanlines {
  position: relative;
  overflow: hidden;

  &:before,
  &:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
  }

  &:before {
    // position: absolute;
    // bottom: 100%;
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    background: $scan-color;
    opacity: $scan-opacity;
    // animation: scanline 6s linear infinite;
    @include scan-moving($scan-moving-line);
  }

  // the scanlines, so!
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
    background: linear-gradient(to bottom, transparent 50%, $scan-color 51%);
    background-size: 100% $scan-width * 2;
    @include scan-crt($scan-crt);
  }
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
    // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
    // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
  }
}
//******************** scanlines effect css end ********************//
