.DrawingTool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  & .btn {
    border: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgb(240, 159, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    &.disabled {
      background-color: gray;
      cursor: default;
    }
  }
  .drawing-canvas {
    width: 435px;
    height: 435px;
    border-radius: 15%;
    border: 2px solid rgba(255, 255, 255, 0.383);
    cursor: url("../../../public/assets/images/pencil.png"), default;
  }
  .bottom {
    position: fixed;
    bottom: -48px;
    
    display: flex;
    justify-content: center;    
  
  }
  .right {
    position: fixed;
    right: -12%;
    width: 10%;
    bottom: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}

.ColorPicker {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  cursor: pointer;
  & .react-colorful {
    width: 0;
    height: 0;
  }
  & .react-colorful__saturation {
    display: none;
    position: fixed;
    width: 200px;
    height: 200px;
    top: -30px;
    left: -27px;
  }
  & .react-colorful__hue {
    position: fixed;
    width: 412px;
    height: 34px;
    top: 183px;
    left: 195px;
    border-radius: 0 0 30px 8px;
  }
}
