.DrawingTool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  & .btn {
    border: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgb(240, 159, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    &.disabled {
      background-color: gray;
      cursor: default;
    }
  }
  .drawing-canvas {
    width: 435px;
    height: 435px;
    border-radius: 15%;
    border: 2px solid rgba(255, 255, 255, 0.383);
    cursor: url("../../../public/assets/images/pencil.png"), default;
  }
  .bottom {
    position: fixed;
    bottom: -48px;
    
    display: flex;
    justify-content: center;    
  
  }
  .right {
    position: fixed;
    right: -12%;
    width: 10%;
    bottom: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}

.ColorPicker {
  width: 110px;
  height: 110px;
  border-radius: 13px;
  cursor: pointer;
  & .react-colorful {
    width: 0;
    height: 0;
  }
  & .react-colorful__saturation {
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  & .react-colorful__hue {
    position: fixed;
    width: 416px;
    height: 33px;
    top: 156px;
    left: 169px;
    border: 0;
    border-radius: 0;
    clip-path: polygon(-10% 0, 100% 0, 95% 100%, -10% 100%);
  }
  & .react-colorful__saturation-pointer {
    width: 20px;
    height: 20px;
  }
  & .react-colorful__hue-pointer {
    width: 33px;
    height: 33px;
  }
}
