.mainWrap {
    z-index: 999999;
    left: 612px;
    top: -218px;
    width: 100px;
    text-align: right;
    position: absolute;
    color: white;
    font-size: 42px;
    font-family: 'Nokia Cellphone FC', 'Quadrit', monospace,sans-serif;
}