.mainWrap {
    z-index: 999999;
    text-align: right;
    width: 100px;
    top: -87px;
    right: -280px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: 'Nokia Cellphone FC', 'Quadrit', monospace,sans-serif;
}