@import url("http://fonts.cdnfonts.com/css/amiga-forever");
@import url("http://fonts.cdnfonts.com/css/nokia-cellphone-fc");
@import url("http://fonts.cdnfonts.com/css/quadrit");

.inner-shadow {
  -webkit-box-shadow: inset 8px 5px 8px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 8px 5px 8px -1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 8px 5px 8px -1px rgba(0, 0, 0, 0.5);
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: auto;
  background-color: paleturquoise;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: chocolate;
    .logo {
      position: absolute;
      top: 1vh;
      left: 1vh;
      width: 30vw;
      z-index: 2;
    }
  }
  .machine-container {
    position: relative;
    width: 100vw;
    height: 100vw;
    .background {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 100vw;
      height: 100vw;
    }
  }
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

$scan-width: 2px;
$scan-crt: true;
$scan-fps: 60;
$scan-color: rgba(#000, 0.2);
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: 0.75;

@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  } @else {
    animation: none;
  }
}

@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line == true {
    animation: scanline 6s linear infinite;
  } @else {
    animation: none;
  }
}

.scanlines {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
  }
  &:before {
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    background: $scan-color;
    opacity: $scan-opacity;
    @include scan-moving($scan-moving-line);
  }
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
    background: linear-gradient(to bottom, transparent 50%, $scan-color 51%);
    background-size: 100% $scan-width * 2;
    @include scan-crt($scan-crt);
  }
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

.black-screen {
  background-color: rgb(8, 8, 8);
}

.pixel-font {
  font-family: "Nokia Cellphone FC", "Quadrit", monospace, sans-serif;
}

.shiny {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5508578431372548) 6%,
    rgba(204, 204, 204, 0) 75%
  );
}

.myButton {
  box-shadow: 1px 2px 2px 2px #b53c24;
  background: linear-gradient(to bottom, #ff912a 5%, #ff6e25 100%);
  background-color: #ff8040;
  margin-right: 1px;
  border-width: 2px;
  height: 45px;

  border: 3px solid #ffffff37;
  border-top: 0;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  // padding:7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #96423c;

  display: flex;
  align-items: center;
  justify-content: center;
}
.myButton:hover {
}
.myButton:active {
  position: relative;
  box-shadow: 1px 1px 0px 2px #b53c24;
  border: 3px solid #ffffff1c;
  background: linear-gradient(to bottom, #f06824 5%, #ec5523 100%);
  top: 1px;
}

.rectButton {
  box-shadow: 0px 0px 0px 8px #cb5c28;
  background: linear-gradient(to bottom, #fd864a 5%, #dd7737 100%);
  background-color: #ff8040;
  width: 100%;

  border-width: 2px;
  height: 30px;

  border: 1px solid #ff9e66bd;
  display: inline-block;
  cursor: pointer;
  color: #a84731;
  font-weight: bold;
  font-family: helvetica;
  font-size: 20px;
  // padding:7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffc26c;
}
.rectButton:hover {
}
.rectButton:active {
  position: relative;
  color: #78301f;
  border: 1px solid #a96741bd;
  box-shadow: 0px 0px 0px 6px #ba5425;
  background: linear-gradient(to bottom, #c75339 5%, #b54916 100%);
  top: 1px;
}


.status-panel {
  position: fixed;
  width: 400px;    
  height: 22px;
  top: 164px;
  left: 180px;      
  border-right: 0;
  border-radius: 0;
  clip-path: polygon(-10% 0, 100% 0, 96.5% 100%, -10% 100%);
}