/******************** scanlines effect variable start ********************/
$scan-width: 2px;
$scan-crt: true;
$scan-fps: 60;
$scan-color: rgba(#000, 0.3);
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: 0.75;
/******************** scanlines effect variable end ********************/

html,
body,
#root {
  overflow: auto;
}

body {
  background-color: white;
  background-size: cover;
  background-position: 0 -500px;
  position: fixed;
}

.App {
  position: relative;
  .machine-container {
    text-align: center;
    height: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    .background {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 100vw;
      height: 100vw;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.changeModeBtn {
  background-color: rgb(153, 149, 149);
  color: rgb(37, 36, 36);
  font-size: 14px;
  padding: 8px 11px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  z-index: 99;
  position: absolute;
  left: 50%;
}

/******************** scanlines effect css start ********************/
@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  } @else {
    animation: none;
  }
}

@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line == true {
    animation: scanline 6s linear infinite;
  } @else {
    animation: none;
  }
}

.scanlines {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
  }
  &:before {
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    background: $scan-color;
    opacity: $scan-opacity;
    @include scan-moving($scan-moving-line);
  }
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
    background: linear-gradient(to bottom, transparent 50%, $scan-color 51%);
    background-size: 100% $scan-width * 2;
    @include scan-crt($scan-crt);
  }
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
/******************** scanlines effect css end ********************/
