@import url('http://fonts.cdnfonts.com/css/amiga-forever');
@import url('http://fonts.cdnfonts.com/css/nokia-cellphone-fc');
@import url('http://fonts.cdnfonts.com/css/quadrit');

.inner-shadow {
  -webkit-box-shadow: inset 8px 5px 8px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 8px 5px 8px -1px rgba(0,0,0,0.5);
  box-shadow: inset 8px 5px 8px -1px rgba(0,0,0,0.5);
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: auto;
  background-color: paleturquoise;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: chocolate;
    .logo {
      position: absolute;
      top: 1vh;
      left: 1vh;
      width: 30vw;
      z-index: 2;
    }
  }
  .machine-container {
    position: relative;
    width: 100vw;
    height: 100vw;
    .background {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 100vw;
      height: 100vw;
    }
  }
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

$scan-width: 2px;
$scan-crt: true;
$scan-fps: 60;
$scan-color: rgba(#000, 0.2);
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: 0.75;

@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  } @else {
    animation: none;
  }
}

@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line == true {
    animation: scanline 6s linear infinite;
  } @else {
    animation: none;
  }
}

.scanlines {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
  }
  &:before {
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    background: $scan-color;
    opacity: $scan-opacity;
    @include scan-moving($scan-moving-line);
  }
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
    background: linear-gradient(to bottom, transparent 50%, $scan-color 51%);
    background-size: 100% $scan-width * 2;
    @include scan-crt($scan-crt);
  }
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

.black-screen {
  background-color: rgb(8, 8, 8);
}

.pixel-font {
  font-family: 'Nokia Cellphone FC', 'Quadrit', monospace,sans-serif;           
}

.shiny {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.5508578431372548) 6%, rgba(204,204,204,0) 75%);
}