$bgcolor : #6fe5de;
* {
	box-sizing: border-box;
	-webkit-user-select: none; /* Safari */        
	  -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* IE10+/Edge */
	  user-select: none; /* Standard */
  }

  body{
	background-color: $bgcolor;
	  background-size: cover;	
	position: fixed;
  }

  .main-canvas{
	width: 400px;
	position :absolute;
	//left: calc(50% - 200px);
	left: 540px;
	top : 100px;
	image-rendering: pixelated;
  }
  .interactive-texture{
	  background-position: center center;
	  width: 1456px;
	  height: 1018px;
	  z-index:-2;
	  .tv-wrapper{
		  width: 100%;
		  position: absolute;
	  }
  }
  .toolbar{
	  display: flex;
	  flex-direction: row;
	  position: absolute;
	  top: 0px;
	//   right: -420px;
  }
  .color-picker{
	  position: absolute;
	  top: 203px;
	  left: 0px;

	  .color-bar{
		  display: flex;
		  width: 150px;
		  height: 700px;
		  flex-wrap: wrap;
		  flex-direction: row;
		  display: none;

	  }
	  .color-button{
		  width: 60px;
		  height: 60px;
		  margin-top: 4px;
		  cursor: pointer;
	      margin-right: 4px;
		  &.selected{
			  border: rgb(255, 255, 255) solid 6px;
		  }
		  
	  }
	  .color-extra{
		  display: flex;
		  flex-direction: column;
	  }
	  .current-color{
		  position: absolute;
		  top : 320px;
		  left: 550px;
		  border-radius: 100%;
		  width: 100px;
		  height: 100px;
		  background-color: white;
		  cursor: pointer;
		  z-index: 99;
	  }
	  .eraser{
	      position: absolute;
		  left: 950px;
		  top : 100px;
		  width: 100px;
		  height: 100px;
		  margin-top: 8px;
		  background-color: white;
		  font-size: 2em;
		  cursor: pointer;
		  text-align: center;
		  line-height: 100px;
		  color: gray;
		  border: 1px solid black;
	  }
	  .clear{
		  border-radius: 100%;
		  position: absolute;
		  top:320px;
		  left:660px;
		  width: 80px;
		  height: 80px;
		  margin-top: 8px;
		  font-size: 2em;
		  cursor: pointer;
		  text-align: center;
		  line-height: 80px;
		  color: gray;
		  border: 1px solid black;
	  }
	  .savewebp{
		  position: absolute;
		  left: 950px;
		  width: 100px;
		  height: 30px;
		  top: 350px;
		  background-color:#FEF446;
		  border-radius: 10%;
		  font-size: 1em;
	  }
  }
  
  .layer-picker{
	  position: absolute;
	  top: 61px;
	  right: -529px;
	  .layer-bar{
		  display: flex;
		  flex-wrap: wrap;
		  flex-direction: column;
	  }
	  .layer-button{
		  font-size: 2em;
		  padding: 10px;
		  cursor: pointer;
		  border: 1px solid black;
		  &.selected{
			  background-color: #1fc8db;
		  }
		  &.disabled{
			  opacity: 0.5;
		  }
	  }
  }
  .tool-switcher{
	  position: relative;
	//   bottom: 100px;
	//   left: 150px;
	  .ts-bar{
			position: absolute;
			top: 150px;
			left: 950px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
	  }
	  .ts-button{
		  margin-bottom: 10px;
		  font-size: 2em;
		  padding: 10px;
		  cursor: pointer;
		  border: 1px solid black;
		  &.selected{
			  background-color: #1fc8db;
		  }
		  &.disabled{
			  opacity: 0.5;
		  }
	  }
  }
  
  .undoredo{
	  position: absolute;
	  bottom: -190px;
	  left: 150px;
	  .ur-bar{
		  position: absolute;
		  top : 350px;
		  left: 600px;
		  display: flex;
		  flex-wrap: nowrap;
		  flex-direction: row;
	  }
	  .ur-button{
		  font-size: 2em;
		  padding: 10px;
		  cursor: pointer;
		  border: 1px solid black;
		  &.selected{
			  background-color: #1fc8db;
		  }
		  &.disabled{
			  opacity: 0.5;
		  }
	  }
  }
