@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  /* position: relative; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*::-webkit-scrollbar {
  width: 0.4vw;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.2vw;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  outline: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.2vw;
}

@font-face {
  font-family: "PressStart2P-Regular";
  src: local("PressStart2P-Regular"),
    url("./assets/font/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RoughShark";
  src: local("RoughShark"),
    url("./assets/font/RoughShark.ttf") format("truetype");
}

@font-face {
  font-family: "RadioLand";
  src: local("RadioLand"),
    url("./assets/font/RadioLand.ttf") format("truetype");
}

@font-face {
  font-family: "62DRAGZ";
  src: local("62DRAGZ"),
    url("./assets/font/62DRAGZ.otf") format("opentype");
}

@font-face {
  font-family: "ducky";
  src: local("ducky"),
    url("./assets/font/ducky.ttf") format("truetype");
}

@font-face {
  font-family: "testy";
  src: local("testy"),
    url("./assets/font/barcade.otf") format("opentype");
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}