$color: white;
$bgColor: #484848;
$elementBgColor: #1a1a1a;
$gap: 10px;

.AdminMain {
  width: 435px;
  height: 435px;
  border-radius: 15%;
  border: 2px solid rgba(255, 255, 255, 0.383);
  display: none;
  flex-direction: column;
  color: white;
  background-color: rgb(8, 8, 8);

  &.active {
    display: flex;
  }

  & * {
    // color: $color;
  }
  ._group {
    width: 100%;
    border: 0;
    // border-bottom: 1px solid $color;
    display: flex;
    flex-direction: column;
    // gap: $gap;
    justify-content: space-between;
    align-items: center;
    ._row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & ._small {
        font-size: 15px;
      }
      & ._radio-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gap;
        &-item {
          background-color: $elementBgColor;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
      & ._input-group {
        background-color: $elementBgColor;
        display: flex;
        &-text {
          width: 100px;
          background-color: transparent;
        }
        &-suffix {
          background-color: transparent;
          padding: 0 5px;
        }
      }
      ._row-sub {
        display: flex;
        gap: $gap;
      }
      ._input {
        width: 138px;
        background-color: $elementBgColor;
      }
      ._btn {
        padding: 0 10px;
        font-size: 15px;
        border: 0;
        border-radius: 5px;
        background-color: $color;
        color: black;

        cursor: pointer;
        &:active {
          color: white;
        }
      }
      &.flex-end {
        justify-content: flex-end;
      }
    }
  }
  ._title {
    font-size: 30px;
    align-items: start;
  }
  ._footer {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    ._btn {
      padding: 0 10px;
      font-size: 15px;
      border: 0;
      background-color: rgb(8, 8, 8);

      color: white;
      cursor: pointer;
      &:active {
        color: white;
      }
      &:hover {
        background-color: white;
        color: rgb(8, 8, 8);
      }
    }
  }
}
