.AdminMain {
  width: 435px;
  height: 435px;
  border-radius: 15%;
  border: 2px solid rgba(255, 255, 255, 0.383);
  display: none;
  flex-direction: column;
  color: white;
  background-color: rgb(8, 8, 8);

  &.active {
    display: flex;
  }
}
